body {
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    font-family: sans-serif;
    position: relative;
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('img/snorlax.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}

.item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.item-5 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.item-6 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
